<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Report Suite" >
<listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter"/>
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
</listeners>
    <test name="Report Test">
        <classes>
            <class name="calc.AppiumTest"/>
            <!-- <class name="com.sevenbits.diecast.Register"/> -->
            <!-- <class name="com.sevenbits.diecast.LoginPage"/> -->
        </classes>
    </test>
    <!-- Test -->
</suite>
<!-- Suite -->